[build]
  functions = "functions"
  publish = "public"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
  # Exception for API calls to go to Function
  conditions = {Path = ["/api/*"]}
  
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/dashboard"
  to = "/"
  status = 301

[[redirects]]
  from = "/admin-privado-7392"
  to = "/admin-privado-7392.html"
  status = 200

[[redirects]]
  from = "/login"
  to = "/"
  status = 301

[[redirects]]
  from = "/acceso-x7z"
  to = "/acceso-x7z.html"
  status = 200
